body.dragging, body.dragging * {
    cursor: move !important;
}
body {
    font-size: 10pt;
    font-family: sans-serif;
    color: #202020;
    background-color: #024E78;
    padding:0px;
    margin:0px;
    overflow:hidden;
    width:100%;
    height:100%;
}

a {
    text-decoration: none;
    color: #0090d2;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
}

.dragged {
    position: absolute;
    opacity: 0.8;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

ol {
    list-style-type: none;
    min-height:100px;
    margin: 0px;
    padding: 0px;
    margin-left:-5px;
    width:300px;
}

li {
    padding: 5px;
    margin:5px;
    border: 0px;
    background-color: #94D3F0;
    border-radius:3px;
    box-shadow: 1px 1px 1px #2081AE;
}

li.newCard {
    background-color: #359AC9;
    box-shadow: 1px 1px 1px #A6D5EB;
}

input.newCard[placeholder] {
    color:#000 !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #333333;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #333333;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #333333;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #333333;
}
textarea {
    background-color: #359AC9;
    border: 0px;
    background-color: rgba(255,255,255,0.0);
    word-wrap: break-word;
    word-break: break-all;
    width:100%;
    height:60px;
    resize: none;
    font-size: 10pt;
}

div.title {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

div.page {
    width: calc(100% - 60px);
    white-space: nowrap;
    padding: 20px;
    margin: 10px;
    text-overflow: scroll;
    overflow-x:scroll;
    height: calc(100% - 220px);
}

div.lanes {
    width:100%;
}

div.footer {
    height: 10px;
    padding-left:30px;
}

div.menuitem {
    background-color:#000;
    color: #bbbbbb;
    padding: 10px;
    height: 10px;
    display:inline-block;
    border-radius:3px;
    margin-left:7px;
}

div.menuitem:hover {
    background-color:#024E78;
}

div.menubar {
    background-color:#000;
    width: 100%;
    color: #bbbbbb;
    padding: 10px;
    height: 15px;
}

span.lane {
    width: 300px;
    background-color:#0090d2;
    border-radius:3px;
    margin: 4px;
    padding: 15px;
    vertical-align:top;
    display: inline-block;
    white-space: normal;
    height: calc(100% - 39px);
    overflow: scroll;

}
//Hide scrollbar
.noscrollbar {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none; // Firefox
}

.noscrollbar::-webkit-scrollbar { 
    display: none; //Safari and Chrome
}

h1 {
    font-family: Pacifico;
    font-size: 18pt;
    margin-left:10px;
    color: #ffffff;
}

h2 {
    font-size: 11pt;
    margin: 0px;
    margin-bottom: 10px;
}

div.cardContent {
    width: calc(100% - 25px);
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

button.deleteCard {
    width: 11px;
    display: inline-block;
    border: 0px solid #000;
    background-color: transparent;
    cursor: pointer;
    color:#0090d2;
}

button.deleteCard:hover {
    color: #ffffff;
}

i.deleteCard {
    font-size:17pt;
}

div.popup{
    display: none;
    position: fixed;
    left: 2em;
    top:2em;
    background-color: #94D3F0;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    border-radius:3px;
    padding: 3px;
    outline: none !important;
}
