<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="kanban" version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	<!--<servlet>
		<description>
    	</description>
		<display-name>Setup</display-name>
		<servlet-name>Setup</servlet-name>
		<servlet-class>com.ntlx.Setup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Setup</servlet-name>
		<url-pattern>/setup</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
    	</description>
		<display-name>GetBoard</display-name>
		<servlet-name>GetBoard</servlet-name>
		<servlet-class>com.ntlx.GetBoard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetBoard</servlet-name>
		<url-pattern>/getBoard</url-pattern>
	</servlet-mapping>
	-->
	<resource-env-ref>
		<resource-env-ref-name>jdbc/kanban</resource-env-ref-name>
		<resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
	</resource-env-ref>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>*</web-resource-name>
			<url-pattern>/getBoard</url-pattern>
			<url-pattern>/moveCard</url-pattern>
			<!-- <url-pattern>/setup</url-pattern>-->
			<url-pattern>/newCard</url-pattern>
			<url-pattern>/deleteCard</url-pattern>
			<url-pattern>/migrate</url-pattern>
			<url-pattern>/updateCard</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>kanban_user</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
			
	<security-role>
	    <role-name>kanban_user</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
